
.message{
    display:none;
}

body{
    background-image:url("../img/fondo.jpg");
}
.grid_body{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;

}
.medio{
    grid-row: 2/3;
    grid-column: 2/3;
}